body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: hsl(210, 46%, 95%);
    font-family: Barlow Semi Condensed;
}
.container{
    width: 80%;
    height: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;



}
.grid{
    margin: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns:repeat(auto-fill,minmax(100px,1fr));
    grid-template-rows:repeat(2,auto) ;
    gap: 18px;

    
    /* width: 50vw; */
    /* height: 400px; */
}

.grid div{
    
    padding: 25px;
    border-radius: 10px;

}
.danial{
    grid-area: 1/1/2/span 5;
    background-color: hsl(263, 55%, 52%,1);
    position: relative;

}
.jon{
    grid-area: 1/6/2/span 3;
    background-color: hsl(217, 19%, 35%);

}
.jon h4{
    padding-top: 14px;
    
}
.kira{
    grid-area: 1/9/3/span 4;
    background-color: hsl(0, 0%, 100%);

}
.jenet{
    grid-area: 2/1/3/span 3;
    background-color: hsl(0, 0%, 100%);
}
.jenet .user,.kira .user{
    color: hsl(213, 8%, 42%);
}
.grid .jenet h2,.grid .kira h2{
    color: hsl(213, 8%, 42%);
}
.grid .jenet h4,.grid .kira h4{
        color: black;
    font-weight: 600;
    opacity: 0.7;
}
.patrick{
    grid-area: 2/4/3/span 5;
    background-color: hsl(217, 30%, 14%);
    /* color: hsl(0, 0%, 99%); */
}


.grid div h4{
    opacity: 0.7;
    font-size: 13px;
    font-weight: normal;
    color: hsl(215, 59%, 94%);


}
.grid div h2{
    color: hsl(215, 59%, 94%);
    position: relative;
    z-index: 1;
}

.jenet h4{
    padding-top:8px;

}
.grid div img:first-child{
    border-radius:50%;
    vertical-align: middle;


}
.qutaions{
    z-index: 0;
    float: right;
    border-radius: 0px;
    position: absolute;
    top: 9%;
    right: 13%;
    

}
.name-con{
    width: 123px;
    display: inline-block;
    padding: 0px 0px 0px 10px;
    vertical-align: middle;
    
    
}
.user{
    display: inline-block;
    padding-bottom: 5px;
    font-weight:bold;
    color: hsl(215, 59%, 94%);
}
@media (max-width:767px) {
   .grid{
       grid-template-columns: 1fr;
       grid-template-rows: auto;
   }
    .danial{
        grid-area: 1/1/2/span 1;
    }
    .kira{
        grid-area: 5/1/6/span 1;

    }
    .jenet{
        grid-area: 3/1/4/span 1;
    }
    .patrick{
        grid-area: 4/1/5/span 1;
    }
    .jon{
        grid-area: 2/1/3/span 1;
    }
   
}
